Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2023-11, with the labels that each got.

#187 Update Process.ts
  Server/Source/Process.ts
Labels: server

#188 Revert "Update Process.ts"
  Server/Source/Process.ts
Labels: server

#190 使用新的图床api
  Update.json
  XMOJ.user.js
Labels: user-script

#195 不需要申请啦~
  Update.json
  XMOJ.user.js
Labels: user-script

#197 修复更新链接
  Update.json
  XMOJ.user.js
Labels: user-script

#204 remove this as it causes console errors
  Update.json
  XMOJ.user.js
Labels: user-script

#212 update npm version
  .github/workflows/Prerelease.yml
  Server/package.json
Labels: GitHub-related, server

#218 Update Prerelease.yml
  .github/workflows/Prerelease.yml
Labels: GitHub-related

#219 remove safety features....
  Update.json
  Update/UpdateVersion.js
Labels: update-script

#220 Update Prerelease.yml
  .github/workflows/Prerelease.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#221 烦死了。。。
  .github/workflows/Prerelease.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#222 Update Prerelease.yml
  .github/workflows/Prerelease.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#223 wtf
  .github/workflows/Prerelease.yml
  Update.json
  XMOJ.user.js
Labels: GitHub-related

#226 Revert "remove safety features...."
  Update.json
  Update/UpdateVersion.js
Labels: update-script

#227 Revert "Update Prerelease.yml"
  .github/workflows/Prerelease.yml
Labels: GitHub-related

#230 Update README.md
  README.md
  index.html
Labels: website

#232 使用Base64编码icon
  Update.json
  XMOJ.user.js
Labels: user-script

#234 更新服务器配置
  README.md
  Server/Source/Secret.ts
Labels: server

#235 remove server files
  .github/labeler.yml
  Server/Source/BBSSpider.js
  Server/Source/Database.ts
  Server/Source/Initial.sql
  Server/Source/Output.ts
  Server/Source/Process.ts
  Server/Source/Result.ts
  Server/Source/Secret.ts
  Server/Source/index.ts
  Server/package.json
  Server/wrangler.toml
Labels: GitHub-related

#239 manual UpdateToRelease
  Update.json
  XMOJ.user.js
Labels: user-script

#238 use github apps
  .github/workflows/AutoLabelIssue.yml
  .github/workflows/AutoLablePR.yml
  .github/workflows/Daily.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .github/workflows/UpdateVersion.yml
Labels: GitHub-related

#241 Dev
  .github/workflows/AutoLabelIssue.yml
  .github/workflows/AutoLablePR.yml
  .github/workflows/Daily.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .github/workflows/UpdateVersion.yml
Labels: GitHub-related

#242 Sync
  .github/workflows/Daily.yml
  .github/workflows/UpdateToRelease.yml
  Update/UpdateToRelease.js
Labels: GitHub-related, update-script

#243 github app
  .github/workflows/UpdateToRelease.yml
Labels: GitHub-related

#248 Update AutoLabel.js
  Update/AutoLabel.js
Labels: update-script

#250 发送统计数据
  Update.json
  XMOJ.user.js
Labels: user-script

#271 Revert "github app"
  .github/workflows/UpdateToRelease.yml
Labels: GitHub-related
