Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2023-12, with the labels that each got.

#276 Update XMOJ.user.js
  Update.json
  XMOJ.user.js
Labels: user-script

#282 use https in xmoj
  Update.json
  XMOJ.user.js
  index.html
Labels: user-script, website

#283 Sync Dev
  Update.json
  XMOJ.user.js
  index.html
Labels: user-script, website

#301 改变更新架构
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  Update.json
  Update/GetVersion.js
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script, update-script

#302 Update allowed tags in PurifyHTML function to allow the `<big>` tag
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#305 add release notes (#303)
  Update.json
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: user-script, update-script

#311 A Small fix
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
Labels: update-script

#310 Add an Easter egg
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#312 fix release notes
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#313 Update npm publish command to include provenance
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
Labels: GitHub-related

#322 Dev
  .github/workflows/Release.yml
  Update.json
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script

#327 优化用户体验
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#328 Add new year greetings
  AddonScript.js
Labels: addon-script

#329 增加权限
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script
