Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2023-10, with the labels that each got.

#8 modify permissions
  .github/workflows/AutoLablePR.yml
Labels: GitHub-related

#17 fix permissions
  .github/workflows/UpdateVersion.yml
  Update.json
Labels: GitHub-related

#21 use api.xmoj-bbs.tech
  XMOJ.user.js
Labels: user-script

#26 增加名字
  .github/workflows/AutoLabelIssue.yml
  .github/workflows/UpdateVersion.yml
  README.md
  Update.json
  XMOJ.user.js
Labels: GitHub-related, user-script

#54 Sync Dev
  Update.json
  XMOJ.user.js
Labels: user-script

#58 把@langningchen当作吉祥物
  Update.json
  XMOJ.user.js
Labels: user-script

#61 把@langningchen当作吉祥物 & 优化网站
  Update.json
  XMOJ.user.js
  index.html
Labels: user-script, website

#67 允许用户关闭获取数据，开启学术模式选择
  Update.json
  XMOJ.user.js
Labels: user-script

#73 Sync Dev
  Compare.md
  Update.json
  XMOJ.user.js
Labels: user-script

#79 Update index.html
  index.html
Labels: website

#82 Dev Release
  Update.json
  XMOJ.user.js
Labels: user-script

#90 Notify lianxiang browser problems
  index.html
Labels: website

#95 修复编辑用户显示
  Update.json
  XMOJ.user.js
Labels: user-script

#101 Fix #99
  Server/Source/Process.ts
Labels: server

#102 修复高亮
  Update.json
  XMOJ.user.js
Labels: user-script

#104 自动提交当年代码
  Update.json
  XMOJ.user.js
Labels: user-script

#105 emergency fix
  Update.json
  XMOJ.user.js
Labels: user-script

#106 Change repos
  Server/Source/Process.ts
Labels: server

#108 fix #107
  Update.json
  XMOJ.user.js
Labels: user-script

#109 Sync Dev
  Server/Source/Initial.sql
  Server/Source/Process.ts
  Update.json
  XMOJ.user.js
Labels: user-script, server

#113 更改学术模式
  Update.json
  XMOJ.user.js
Labels: user-script

#114 改变自动提交当年代码样式
  Update.json
  XMOJ.user.js
Labels: user-script

#117 不自动提交已AC题目
  Update.json
  XMOJ.user.js
Labels: user-script

#119 fix #118
  Update.json
  XMOJ.user.js
Labels: user-script

#128 Why?
  Update.json
  XMOJ.user.js
Labels: user-script

#126 Sync Dev
  Update.json
  XMOJ.user.js
Labels: user-script

#133 Dev
  Update.json
  XMOJ.user.js
Labels: user-script

#135 Update XMOJ.user.js
  Update.json
  XMOJ.user.js
Labels: user-script

#136 Update XMOJ.user.js (#135)
  Update.json
  XMOJ.user.js
Labels: user-script

#140 121 feature request 抄std的给badge作弊者
  Update.json
  XMOJ.user.js
Labels: user-script

#144 禁止用户修改badge，只允许用户向管理组提出修改请求
  Update.json
  XMOJ.user.js
Labels: user-script

#145 Emergency Fix
  Update.json
  XMOJ.user.js
Labels: user-script

#149 Update XMOJ.user.js
  Update.json
  XMOJ.user.js
Labels: user-script

#151 增加开发组成员
  Update.json
  XMOJ.user.js
Labels: user-script

#163 让cln的badge好看一点
  Update.json
  XMOJ.user.js
Labels: user-script

#164 Sync Dev
  Update.json
  XMOJ.user.js
Labels: user-script

#169 为用户脚本增加icon
  Update.json
  XMOJ.user.js
Labels: user-script

#173 fix#171
  index.html
Labels: website

#174 rm photos
  .github/.config.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  README.md
Labels: GitHub-related

#175 Sync Dev
  README.md
  Update.json
  XMOJ.user.js
  index.html
Labels: user-script, website
