Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-01, with the labels that each got.

#340 add the native link
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#346 Update dependabot.yml
  .github/dependabot.yml
Labels: GitHub-related

#353 更新pr规范
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: GitHub-related

#356 script-cat统计模块
  README.md
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#355 fix #332
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20,_20_40_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20__20_40__Changes_.xml
  .idea/vcs.xml
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
Labels: user-script

#357 cleanup
  Update.json
  XMOJ.user.js
Labels: user-script

#358 上线脚本猫以来的第一次发布！version1.14正式版！
  .github/dependabot.yml
  .github/pull_request_template.md
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20,_20_40_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20__20_40__Changes_.xml
  .idea/vcs.xml
  .idea/workspace.xml
  README.md
  Update.json
  XMOJ.user.js
  eula.md
  package.json
Labels: GitHub-related, user-script

#365 😉更改stale标准
  .github/workflows/Daily.yml
  Update.json
Labels: GitHub-related

#368 自动化sitemap
  .github/workflows/sitemap-automation.yml
  index.html
  sitemap-live/0.xml
Labels: GitHub-related, website

#369 同步小更新
  .github/workflows/Daily.yml
  .github/workflows/DependencyScan.yml
  .github/workflows/sitemap-automation.yml
  README.md
  Update.json
  index.html
  sitemap-live/0.xml
Labels: GitHub-related, website

#372 use the same peram (?to_user) as xmoj
  .idea/.gitignore
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#375 add spellcheck
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#378 sleep for a sec after submitting to prevent xmoj from crashing
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#390 更新support链接
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#393 make the upload_std interface prettier
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#394 fix problemstatus
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#395 Sync Dev
  .idea/workspace.xml
  README.md
  Update.json
  XMOJ.user.js
  index.html
  package.json
  sitemap.xml
Labels: user-script, website

#403 make the script much faster
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20,_20_40_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20__20_40__Changes_.xml
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#404 Sync Dev
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20,_20_40_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_2024_1_20__20_40__Changes_.xml
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#406 more choices
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#407 superdebug mode
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#411 修正部分用户姓名设置的错误
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#412 修改警告
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#413 fix #409
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#414 Sync Dev
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#416 major restructuring(fixes #364)
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script
