Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-10, with the labels that each got.

#731 a quick fix for mathjax
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#735 更新一大批名字
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#737 Add http request headers
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#739 Release!
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#748 变动cdn源
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#750 Release
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L
