Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-04, with the labels that each got.

#495 Dev
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  .idea/.gitignore
  .idea/XMOJ-Script.iml
  .idea/modules.xml
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  index.html
  package.json
Labels: GitHub-related, user-script, website

#497 move the main msg content into a div with flex!!! :tada:
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#499 add markdown support to short messages
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#505 让 ctrl + enter 触发自动提交当年代码
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#508 增加silimar issue推送
  .github/workflows/similar-issue.yml
Labels: GitHub-related

#514 支持跳转到讨论编号 修改讨论区用户界面 在讨论区Page过大时自动跳转 在讨论区最后一页自动删除
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#515 允许管理在用户页管理badge并在修改badge后清除缓存
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#516 revert #514
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#517 Auto Read Short message mentions
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#519 Refresh Short Messages at fixed intervals (experimental)
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S
