Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-08, with the labels that each got.

#581 fix copymd
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#583 fix ACM rank
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#587 Sync Dev
  README.md
  Update.json
  XMOJ.user.js
  index.html
  package.json
Labels: user-script, website, size/XL

#588 新增用户栏动画效果
  XMOJ.user.js
Labels: size/M

#592 Update
  XMOJ.user.js
Labels: user-script, size/M

#593 Extern contrib from @zhouyiqing
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#594 Revert "Extern contrib from @zhouyiqing"
  Update.json
  XMOJ.user.js
Labels: user-script, size/L

#595 update pic
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#596 ahhhhhh typos
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#598 Dev
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#597 保证正常更新的新导航栏
  XMOJ.user.js
Labels: size/L

#600 add some document.titles
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#601 more document titles
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#603 Auto Sync to Extern contrib
  .github/workflows/sync-to-extern-contrib.yml
Labels: GitHub-related, size/S

#605 正常的导航栏
  XMOJ.user.js
Labels: working-on-it, user-script, size/L

#608 美化导航栏（by zhouyiqing）
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#607 Edge适配
  index.html
Labels: website, size/XS

#613 Write CONTRIBUTING.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: GitHub-related, size/S, docs

#612 解决动画打断问题
  XMOJ.user.js
Labels: size/S

#615 解决动画打断问题
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#619 深色模式调整题目图片颜色
  XMOJ.user.js
Labels: user-script, review-needed, size/S

#622 Extern contrib from @zhouyiqing0304
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#629 Emergency fix
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#633 Add error Reporting
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#641 新增复制freopen语句功能，优化深色模式错误警告颜色显示
  XMOJ.user.js
Labels: size/S

#644 Better error Reporting
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/XXL

#645 Codemirror for freopen
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#648 format freopen statement
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#651 prevent RE
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#655 Prevent RE
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#657 log Success
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#658 error reporting for image upload
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#659 new toolbar item
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#660 Release
  Update.json
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: user-script, update-script, size/XXL

#663 Do we really need this?
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#664 fix reply infinite looping
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#665 fix replying
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#667 fix replying(again)
  AddonScript.js
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, addon-script, size/M

#669 smartAlert!
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#670 Fix RE
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#671 允许在已结束的比赛下提交 #287
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#673 Remove headers
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#674 Stop!
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#679 解决强制O2提交的问题
  XMOJ.user.js
Labels: size/XS

#680 解决强制O2的问题
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#683 Release
  .github/workflows/pr-check-ci.yml
  AddonScript.js
  Update.json
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script, addon-script, size/L

#698 Set turnstile theme and language
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#715 更改短消息显示
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#718 Prevent caching
  .github/workflows/main.yml
  Update.json
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script, size/M

#723 Dev
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#725 Add CP Editor
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S
