Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-07, with the labels that each got.

#547 Release
  README.md
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#550 Improve debug mode
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#552 Update the api domain
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#554 Release
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/XXL

#559 Add CLion
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#563 fix #562
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#565 短消息增加图床支持
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#566 预览版域名切换
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#567 Release
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/XXL

#570 增加公告栏
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#571 Release
  README.md
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#573 add username rendering for noticeboard
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#574 disable tidytable
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#575 Upgrade bootstrap + cdnjs
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#576 fix tidytable
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#577 Sync Dev
  README.md
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/L

#580 Improve popover usability
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S
