Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-05, with the labels that each got.

#522 chore: 删除被 @boomzero 除名的开发组成员
  Update.json
  XMOJ.user.js
  package.json
Labels: review-needed, size/XS

#523 Revert Refresh Short Messages at fixed intervals (experimental)
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#524 Sync Dev
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#527 Sync dev
  Images/1.png
  Images/10.png
  Images/11.png
  Images/12.png
  Images/13.png
  Images/14.png
  Images/15.png
  Images/16.png
  Images/17.png
  Images/2.png
  Images/3.png
  Images/4.png
  Images/5.png
  Images/6.png
  Images/7.png
  Images/8.png
  Images/9.png
  Update.json
  XMOJ.png
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#538 MS Clarity
  index.html
Labels: website, size/XS

#539 Product Hunt
  README.md
Labels: size/XS
