Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2024-02, with the labels that each got.

#424 增加更新链接，优化格式
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#425 Revert "增加更新链接，优化格式"
  Update.json
  XMOJ.user.js
Labels: user-script

#428 更新部分语言
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#429 增加开发组成员，zhouyiqing
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#445 fix [Bug] 右上角用户名点击后无反应
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#447 fix the unpkg-cdn option
  .idea/workspace.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#449 regression!
  .idea/vcs.xml
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#454 fix #400 + //ci-no-touch
  .idea/workspace.xml
  Update.json
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: user-script, update-script

#459 Update XMOJ.user.js
  XMOJ.user.js
Labels: user-script

#461 Revert "Update XMOJ.user.js"
  XMOJ.user.js
Labels: user-script

#462 fix //ci-no-touch
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
Labels: update-script

#463 Sync Dev
  .editorconfig
  .github/workflows/sitemap-automation.yml
  .idea/vcs.xml
  .idea/workspace.xml
  Update.json
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script, update-script

#474 变更图像
  .github/workflows/merge.yml
  XMOJ.png
  favicon.ico
Labels: GitHub-related

#476 新增下载项并且允许管理员用户直接获取标程
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#479 Revert "Update to release 1.1.48"
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script

#480 Revert "新增下载项并且允许管理员用户直接获取标程"
  Update.json
  XMOJ.user.js
Labels: user-script
