Repository XMOJ-Script-dev/XMOJ-Script, pull requests merged in 2025-02, with the labels that each got.

#760 2025年第一个新版本发布
  ._.idea
  ._XMOJ.user.js
  .github/workflows/main.yml
  Update.json
  XMOJ.user.js
  package.json
Labels: GitHub-related, user-script, size/M

#767 进入讨论后给出题目的链接
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/S

#769 update update scripts
  Update/UpdateToRelease.js
  Update/UpdateVersion.js
Labels: update-script, size/XS

#772 Release!
  Update.json
  Update/UpdateVersion.js
  XMOJ.user.js
  package.json
Labels: user-script, update-script, size/M

#774 Fix code scanning alert - DOM text reinterpreted as HTML
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#778 Change how we load addonscript (transition from GitHub pages to Cloudflare KV) + Fix *that* console error
  AddonScript.js
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, addon-script, size/M

#781 Release
  AddonScript.js
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, addon-script, size/M

#784 fix cdn
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M

#786 Release
  Update.json
  XMOJ.user.js
  package.json
Labels: user-script, size/M
